services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=file:./prisma/dev.db
      - PORT=3000
      - MAILOPOST_API_URL=https://api.mailopost.ru/v1
      - MAILOPOST_API_TOKEN=0e214eeceb83783a7ed4dc025a0175b1
      - MAILOPOST_FROM_EMAIL=noreply@burker-watches.ru
      - MAILOPOST_FROM_NAME=Burker Watches
      - ADMIN_EMAIL=info@kondratov.online
    volumes:
      # Монтируем базу данных и загруженные файлы
      - ./prisma/dev.db:/app/prisma/dev.db
      - ./public/promo:/app/public/promo
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
